---
import type { WithClassName } from '@/lib/types/generics';
import { Typography } from '@/lib/ui';
import { cn, slugify } from '@/lib/utils';
import { type Experience } from '@/content';

type Props = WithClassName<Experience>;

const {
  from,
  to = 'PRESENT',
  companyName,
  position = '',
  special = false,
  shortDescription = '',
  slug,
  class: className,
} = Astro.props;
const pathname = Astro.url.pathname;

const slugifiedComapnyName = slugify(companyName);
const slugifiedPosition = slugify(position);
---

<div class:list={cn('flex basis-full flex-col md:flex-1', className)}>
  <Typography font="anton" size="xl" class="select-none text-neutral-500">
    {from} - {to}
  </Typography>
  <Typography
    font="anton"
    size="xl"
    tag="h3"
    class={cn('leading-none pb-2.5', {
      'text-orange-400': special,
    })}
    transition:name={`experience-${slugifiedComapnyName}`}
    transition:animate="initial"
  >
    {companyName}
  </Typography>
  {
    !!position && (
      <Typography
        font="sans"
        class="pb-2.5 leading-none text-neutral-500"
        transition:name={`experience-${slugifiedPosition}`}
        transition:animate="initial"
      >
        {position}
      </Typography>
    )
  }
  {
    !!shortDescription && (
      <>
        <hr class="my-2" />
        <Typography size="sm" class="pt-3 md:w-11/12 lg:w-8/12">
          {shortDescription}
        </Typography>
      </>
    )
  }
  {
    slug && slug !== pathname && (
      <a
        href={slug}
        class="pt-2 underline"
        title={`Read more about my work at ${companyName}`}
        aria-label={`Read more about my work at ${companyName}`}
      >
        <Typography size="sm" tag="span">
          Read more
        </Typography>
      </a>
    )
  }
</div>
